body,main{
    display: flex;
}
body{
    background color: burlywood;
    flex-direction: column;
}
main{
    flex: auto;
    flex-direction: row;
}
article{
    flex: 2;
}
aside{flex: 1;
}
article,aside{
    overflow-y: auto;
}
.logo{
    text-align:left;
}
